# Framework Web e Dashboard
dash>=2.16.1
flask>=3.0.0
dash-bootstrap-components>=1.5.0

# Banco de Dados e ORM
flask-sqlalchemy>=3.1.1

# Autenticação e Segurança
flask-login>=0.6.3
werkzeug>=3.0.1

# Visualização de Dados
plotly>=5.17.0
pandas>=2.1.4

# Geração de Relatórios
fpdf2>=2.7.6

# Utilitários
python-dotenv>=1.0.0

# Manipulação de Dados
openpyxl>=3.1.2
